
header {
  font-size: 1.5em;
  background-color: black;
  color: lavender;
  padding: 2em;
  text-align: center;
  margin-bottom: 2em;
}
#image-container {
  display: flex;
  justify-content: space-around;
  padding: 2em;
  background-color: grey;
}
#image1 {
  height: 300px;
  width: 300px;
  background-color: lightgreen;
  border-style: solid;
}
#image2 {
  height: 300px;
  width: 300px;
  background-color: lavender;
  border-style: solid;
}
#image3 {
  border-style: solid;
  height: 300px;
  width: 300px;
  background-color: beige;
}
#canvas {
  height: 300px;
  width: 300px;
  background-color: lavender;
  border-style: .25em black solid;
}
footer {
  font-size: 1.5em;
  background-color: black;
  color: lavender;
  padding: 1em;
  text-align: center;
  margin-top: 2em;
}
.container {
  display: flex;
  justify-content: center;
  margin: auto;
}
